@import "page";

// disabled permanent scroll shown behavior
html {
  overflow: auto !important;
  box-sizing: border-box;
}
.page-wrapper {
  height: 100%;
  position: relative;
}
/* Scroll settings */
/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: gray;
}
